@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter 2 way binding</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MyFirstComponent @bind-CurrentCounterValue=@currentCount />





@code {

    [Parameter]
    public EventCallback<int> OnMultipleOfThree { get; set; }

    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        if (currentCount % 3 == 0)
            await OnMultipleOfThree.InvokeAsync(currentCount);
    }
}
